@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald&display=swap');


$base-size: 12px;
$color-gray: #c8d6e5;
$color-white: #f3f3f3;
$font-logo: 'Oswald', sans-serif;
$font-main: 'Arial', serif;
$color-green: linear-gradient(to right, #4cb430, rgb(37, 119, 7));
$color-blue-gradient: linear-gradient(to right, #2a5298, #1e3c72);
$color-blue: #1e3c72;  



